.body{
    background-color: #135480;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.main{
    background-color: #5a85a1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;    
}

.login-form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#btn-iniciarsesion{
    background-color: #135480;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}


footer{
    background-color: #135480;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
























